<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-home"></i>
            <span>Inicio</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list' %}">
            <i class="fas fa-fw fa-users"></i>
            <span>Listado Estudiantes</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'import' %}">
            <i class="fas fa-fw fa-database"></i>
            <span>Subir Listado</span>
        </a>
    </li>
  
    
   
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users' %}">
            <i class="fas fa-fw fa-users"></i>
            <span>Lista Usuarios</span>
        </a>
    </li>
     <li class="nav-item">
        <a class="nav-link" href="{% url 'changePassword' %}">
            <i class="fas fa-fw fa-database"></i>
            <span>Cambiar Contraseña</span>
        </a>
    </li>
     
</ul>