{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="breadcrumb-item active">Usuarios</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Lista Usuarios
                    <a  class="btn btn-sm btn-warning btn-lg" href="{% url 'register' %}" style="padding: 12px; float: right;  color: white;">Agregar Nuevo Usuario</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Description</th>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                {% if user.email == 's@gmail.com' %}
                                {% else %}
                                    <tr>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.last_login |date:"d-m-Y H:i:s" }}</td>
                                    <td>{{ user.username }}</td>
                                    <td><a class="btn btn-sm btn-danger" href="delete/{{ user.id }}"><span class="fa fa-trash"></span> Eliminar</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
    </script>
{% endblock %}